<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.essalud_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Resumen_cita"></activity>
        <activity android:name=".Medicina_general" />
        <activity android:name=".Cita_medica" />
        <activity android:name=".Inicio_Registro" />
        <activity android:name=".Inicio_Sesion" />
        <activity android:name=".Registro_Usuario" />
        <activity android:name=".Especialidades" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>